<div class="bg-white p-5">
  <h4 class="my-3" style="font-weight: bolder">ITENS DISPONÍVEIS</h4>
  <hr />
  <c-container class="pb-4">
    <c-row class="align-items-center my-2 w-103">

      <c-col xs="12" class="d-flex justify-content-end">
        <button cButton color="warning" class="text-white" size="sm" shape="rounded-0"
          (click)="openCreateStock('createStockModal')">
          <svg cIcon name="cilViewModule"></svg> Stock
        </button>
        <button cButton color="secondary" class="text-white" size="sm" shape="rounded-0" (click)="getStock()">
          <svg cIcon name="cilHistory"></svg> Recarregar
        </button>
        <button cButton color="success" class="text-white" size="sm" shape="rounded-0"
          (click)="openCreateItems('createItemsModal')">
          <svg cIcon name="cilBabyCarriage"></svg> Adquirir Resíduo
        </button>
      </c-col>
    </c-row>
  </c-container>
  <c-container>
    <table *ngIf="loading == false && stocks?.length > 0; else noCriteria" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" style="background: #eee;">Resíduo</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Disponível</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of stocks, index as i">
          <th scope="row"> {{i+1}} </th>
          <td style="background: #eee;"> {{s.residuoNome}} </td>
          <td> {{s.quantidade}} </td>
          <td>
            <span class="btn btn-block btn-flat text-bold"
              [ngClass]="s.quantidade ? 'btn btn-success text-white' : 'btn btn-danger text-white'">
              {{ s.quantidade ? "SIM" : "NÃO" }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #noCriteria>
      <h5 class="text-muted text-center" style="padding: 1rem;">Sem artigo para aquisição!</h5>
    </ng-template>
  </c-container>
  <ngx-smart-modal identifier="createItemsModal" customClass="lg">
    <app-create-items></app-create-items>
  </ngx-smart-modal>

  <ngx-smart-modal identifier="createStockModal" customClass="md">
    <app-stock></app-stock>
  </ngx-smart-modal>
</div>
<c-container cPlaceholderAnimation="glow" class="bg-white p-5" *ngIf="loading == true">
  <c-row>
    <c-col [md]="1">
      <span cCol="12" cPlaceholder></span>
    </c-col>
    <c-col [md]="11"></c-col>
    <c-col [md]="12"> <span cCol="12" cPlaceholder></span></c-col>
    <c-col [md]="10"></c-col>
    <c-col [md]="2" class="mt-4"> <span cCol="12" cPlaceholder></span></c-col>
    <c-col [md]="2"> <span cCol="12" cPlaceholder></span></c-col>
    <c-col [md]="10"></c-col>
  </c-row>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
</c-container>
