<div class="bg-white p-5">
  <h4 class="my-3" style="font-weight: bolder">RECOMPENSAS</h4>
  <hr />
  <c-container class="pb-4">
    <c-row class="align-items-center my-2 w-103">

      <c-col xs="12" class="d-flex justify-content-end">
        <button cButton color="secondary" class="text-white" size="sm" shape="rounded-0" (click)="getRecompensa()">
          <svg cIcon name="cilHistory"></svg> Recarregar
        </button>
        <button cButton color="success" class="text-white" size="sm" shape="rounded-0"
          (click)="abrirModal('createRewardsModal')">
          <svg cIcon name="cilPlus"></svg> Registar
        </button>
      </c-col>
    </c-row>
  </c-container>
  <c-container>
    <table *ngIf="loading == false" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" style="background: #eee;">Recompensa</th>
          <th scope="col">Tipo</th>
          <th scope="col">Descrição</th>
          <th scope="col" style="background: #eee;">Beneficiário</th>
          <th scope="col" style="background: #eee;">Data</th>
          <!-- <th>Acção</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of recompensas, index as i">
          <th scope="row"> {{i +1}} </th>
          <td style="background: #eee;"> {{r.nome}} </td>
          <td> {{r.tipoRecompensa}} </td>
          <td> {{r.descricao}} </td>
          <td style="background: #eee;"> {{r.clienteNome + " " + r.clienteSobrenome}} </td>
          <td style="background: #eee;"> {{ r.created_at | date: 'dd-MM-YYYY'}} </td>
          <!-- <td>
            <c-dropdown direction="dropend">
              <button cButton cDropdownToggle color="secondary" shape="rounded-0" size="sm" class="text-white">
                Opções
              </button>
              <ul cDropdownMenu>
                <li (click)="abrirModal('editRewardsModal')">
                  <a [routerLink]="[]" cDropdownItem style="display: flex; justify-content: space-between">Editar
                    <svg cIcon name="cilPenAlt"></svg>
                  </a>
                </li>

              </ul>
            </c-dropdown>
          </td> -->
        </tr>
      </tbody>
    </table>
  </c-container>

  <ngx-smart-modal identifier="createRewardsModal" customClass="md">
    <app-create-rewards></app-create-rewards>
  </ngx-smart-modal>

  <ngx-smart-modal identifier="editRewardsModal" customClass="md">
    <app-edit-rewards></app-edit-rewards>
  </ngx-smart-modal>
</div>
<c-container cPlaceholderAnimation="glow" class="bg-white p-5" *ngIf="loading == true">
  <c-row>
    <c-col [md]="1">
      <span cCol="12" cPlaceholder></span>
    </c-col>
    <c-col [md]="11"></c-col>
    <c-col [md]="12"> <span cCol="12" cPlaceholder></span></c-col>
    <c-col [md]="10"></c-col>
    <c-col [md]="2" class="mt-4"> <span cCol="12" cPlaceholder></span></c-col>
    <c-col [md]="2"> <span cCol="12" cPlaceholder></span></c-col>
    <c-col [md]="10"></c-col>
  </c-row>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
</c-container>
