<div class="bg-white p-5" *ngIf="loading == false">
  <h4 class="my-3" style="font-weight: bolder">CLIENTES</h4>
  <hr />
  <c-container class="pb-4 ">
    <c-row class="align-items-center my-2 w-103">

      <c-col xs="12" class="d-flex justify-content-end">
        <button cButton color="secondary" class="text-white " size="sm" shape="rounded-0" (click)="getCliente()">
          <svg cIcon name="cilHistory"></svg> Recarregar
        </button>
        <!-- <div *ngIf="is_superadmin == 1">
          <button cButton color="success" class="text-white" size="sm" shape="rounded-0"
            (click)="openCreateClient('createClientModal')">
            <svg cIcon name="cilPlus"></svg> Registar
          </button>
        </div> -->
      </c-col>
    </c-row>
  </c-container>
  <c-container>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th style="background: #eee;" scope="col">E-mail</th>
          <th scope="col">Contribuinte</th>
          <th scope="col">Telefone</th>
          <th scope="col">Bairro</th>
          <th scope="col">Data de Criação</th>
          <th>Acção</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of clients, index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{c.nome}}</td>
          <td>{{c.sobrenome}}</td>
          <td style="background: #eee;">{{c.email}}</td>
          <td>{{c.contribuinte}}</td>
          <td>{{c.telefone}}</td>
          <td>{{c.bairroNome}}</td>
          <td>{{c.created_at | date: 'dd-MM-YYYY'}}</td>
          <td>
            <c-dropdown direction="dropend">
              <button cButton cDropdownToggle color="secondary" shape="rounded-0" size="sm" class="text-white">
                Opções
              </button>
              <ul cDropdownMenu>
                <li (click)="openEditClient('editClientModal', c)">
                  <a [routerLink]="[]" cDropdownItem style="display: flex; justify-content: space-between">Editar
                    <svg cIcon name="cilPenAlt"></svg>
                  </a>
                </li>
                <li>
                  <a [routerLink]="[]" cDropdownItem style="display: flex; justify-content: space-between"
                     [cModalToggle]="staticBackdropModal.id" (click)="getClientId(c.id, c.nome, c.usuarios)">Eliminar <svg cIcon name="cilTrash"></svg>
                  </a>
                </li>

              </ul>
            </c-dropdown>
          </td>
        </tr>
      </tbody>
    </table>
  </c-container>
  <ngx-smart-modal identifier="createClientModal" customClass="md">
    <app-create-clients></app-create-clients>
  </ngx-smart-modal>
  <c-modal #staticBackdropModal backdrop="static" id="staticBackdropModal">
    <c-modal-header>
      <h5 cModalTitle>Deseja realmente eliminar a conta de {{clientNome}} ?</h5>
      <button [cModalToggle]="staticBackdropModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-footer>
      <button [cModalToggle]="staticBackdropModal.id" cButton color="secondary">
        Não
      </button>
      <button cButton color="primary" (click)="deleteCliente(clientId)">Sim</button>
    </c-modal-footer>
  </c-modal>
  <ngx-smart-modal identifier="editClientModal" customClass="md">
    <app-edit-clients></app-edit-clients>
  </ngx-smart-modal>
</div>
<c-container cPlaceholderAnimation="glow" class="bg-white p-5" *ngIf="loading == true">
  <c-row>
    <c-col [md]="1">
      <span cCol="12" cPlaceholder></span>
    </c-col>
    <c-col [md]="11"></c-col>
    <c-col [md]="12"> <span cCol="12" cPlaceholder></span></c-col>
    <c-col [md]="10"></c-col>
    <c-col [md]="2" class="mt-4"> <span cCol="12" cPlaceholder></span></c-col>
    <c-col [md]="2"> <span cCol="12" cPlaceholder></span></c-col>
    <c-col [md]="10"></c-col>
  </c-row>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
</c-container>
