// Here you can add other styles

.d-none{
  display: none !important;
}
.sm {
  max-width: 25rem !important;
}
.md {
  max-width: 55rem !important;
}
.lg {
  max-width: 75rem !important;
}
.xl {
  max-width: 95rem !important;
}
