<c-container *ngIf="loading == false">
  <h5><svg cIcon name="cilBabyCarriage"></svg> Adicionar Resíduos Para Aquisição</h5>
  <hr />
  <form cForm class="row g-3" [formGroup]="meuFormulario" (ngSubmit)="submit()" [validated]="validateForm">
    <c-col class="position-relative mt-1" style="margin-left: 13%;" [md]="9">
      <c-callout color="dark">
        <div class="text-style my-1"><svg cIcon name="cilLineWeight"></svg> ADICIONAR ITENS</div>
        <hr>
        <c-row class="justify-content-center">
          <div class="col-md-12">
            <div class="alert alert-warning text-center alert-dismissible">
              <h5><i class="icon fa fa-ban"></i> Atenção!</h5>
              Os ítens selecionados serão para a aquisição!
            </div>
          </div>
          <c-col class="position-relative mb-2" [md]="12">
            <label cLabel for="procedures"><svg cIcon name="cilRoom"></svg> Empresa<sup
                class="text-danger">*</sup></label>
            <select aria-label="Default select example" cSelect (change)="selectEmpresa($event)"
              formControlName="empresaId">
              <option value="" disabled selected>Escolha uma empresa</option>
              <option *ngFor="let e of empresas" [value]="e.id">
                {{ e.nome }}
              </option>
            </select>
          </c-col>


          <c-col class="position-relative" [md]="5">
            <label cLabel for="procedures"><svg cIcon name="cilDrop"></svg> Resíduo<sup
                class="text-danger">*</sup></label>
            <select aria-label="Default select example" cSelect [(ngModel)]="residuo_.nome"
              [ngModelOptions]="{ standalone: true }" (change)="seletectCriterial($event)">
              <option value="" disabled selected>Escolha um resíduo</option>
              <option *ngFor="let s of stocks" [value]="s.residuoNome" [attr.data-quantidade]="s.quantidade"
                [attr.data-residuoId]="s.residuoId">
                {{ s.residuoNome }}
              </option>
            </select>
          </c-col>


          <c-col class="position-relative" [md]="5">
            <label cLabel for="email"><svg cIcon name="cilSortAscending"></svg> Quantidade<sup
                class="text-danger">*</sup></label><input required cFormControl id="email" type="text"
              placeholder="Quantidade" [(ngModel)]="residuo_.qtd" [ngModelOptions]="{ standalone: true }"
              [disabled]="true" />
            <c-form-feedback [valid]="false" tooltip>Designação do sobrenome inválida!</c-form-feedback>
          </c-col>


          <c-col class="position-relative" [md]="1">
            <label cLabel for="procedures" class="text-white">1</label>
            <button cButton color="success" class="text-white" shape="rounded-0" (click)="addResiduo()"
              [disabled]="!residuo_.nome || !empresaId || residuo_.qtd == 0">
              <svg cIcon name="cilPlus"></svg>
            </button>
          </c-col>
        </c-row>
        <table cTable *ngIf="residuo.length > 0; else noCriteria">
          <thead>
            <tr>
              <th class="text-center" scope="col">Artigo</th>
              <th class="text-center" scope="col">Quantidade</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of residuo;">
              <td class="text-center">{{ r.nome }}</td>
              <td class="text-center">{{ r.qtd }}</td>
              <td style="display: flex; justify-content: flex-end;"><button cButton color="danger" class="text-white"
                  shape="rounded-0" (click)="removeResiduo(r)">
                  <svg cIcon name="cilTrash"></svg>
                </button></td>
            </tr>
          </tbody>
        </table>

        <ng-template #noCriteria>
          <h5 class="text-muted text-center" style="padding: 1rem;">Sem artigo selecionado!</h5>
        </ng-template>
      </c-callout>
    </c-col>


    <c-container class="mb-3 mt-5 d-flex justify-content-end col-ctl-cr" style="gap: 3px">
      <!--  <button cButton class="text-white" shape="rounded-0" color="warning" size="sm" type="button"
        title="Validar Formulário">
        <svg cIcon name="cilCheckAlt"></svg> Validar
      </button> -->
      <button cButton color="danger" shape="rounded-0" type="reset" class="text-white" size="sm"
        (click)="cancel('createItemsModal')">
        <svg cIcon name="cilXCircle"></svg> Cancelar
      </button>
      <button cButton class="me-1 text-white" shape="rounded-0" color="success" size="sm" (click)="submit()"
        [disabled]="residuo.length == 0">
        <svg cIcon name="cilPlus"></svg> Registar
      </button>
    </c-container>
  </form>


</c-container>
