<div class="bg-white p-5">
  <h4 class="my-3" style="font-weight: bolder">EMPRESAS</h4>
  <hr />
  <c-container class="pb-4">
    <c-row class="align-items-center my-2 w-103">

      <c-col xs="12" class="d-flex justify-content-end">
        <button cButton color="secondary" class="text-white" size="sm" shape="rounded-0" (click)="getCliente()">
          <svg cIcon name="cilHistory"></svg> Recarregar
        </button>
        <button cButton color="success" class="text-white" size="sm" shape="rounded-0"
          (click)="openCreateCompany('createCompanyModal')">
          <svg cIcon name="cilPlus"></svg> Registar
        </button>
      </c-col>
    </c-row>
  </c-container>
  <c-container>
    <table *ngIf="loading == false" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col" style="background: #eee;">Telefone</th>
          <th scope="col" style="background: #eee;">E-mail</th>
          <th scope="col">Bairro</th>
          <th>Acção</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of empresas, index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{e.nome}}</td>
          <td style="background: #eee;">{{e.telefone}}</td>
          <td style="background: #eee;">{{e.email}}</td>
          <td>{{e.bairroNome}}</td>
          <td>
            <c-dropdown direction="dropend">
              <button cButton cDropdownToggle color="secondary" shape="rounded-0" size="sm" class="text-white">
                Opções
              </button>
              <ul cDropdownMenu>
                <li (click)="openEditCompany('editCompanyModal', e)">
                  <a [routerLink]="[]" cDropdownItem style="display: flex; justify-content: space-between">Editar
                    <svg cIcon name="cilPenAlt"></svg>
                  </a>
                </li>
                <li>
                  <a [routerLink]="[]" cDropdownItem style="display: flex; justify-content: space-between"
                    (click)="deleteCliente(e.id)">Eliminar <svg cIcon name="cilTrash"></svg>
                  </a>
                </li>
              </ul>

            </c-dropdown>
          </td>
        </tr>
      </tbody>
    </table>
  </c-container>

  <ngx-smart-modal identifier="createCompanyModal" customClass="md">
    <app-create-company></app-create-company>
  </ngx-smart-modal>

  <ngx-smart-modal identifier="editCompanyModal" customClass="md">
    <app-edit-company></app-edit-company>
  </ngx-smart-modal>
</div>
<c-container cPlaceholderAnimation="glow" class="bg-white p-5" *ngIf="loading == true">
  <c-row>
    <c-col [md]="1">
      <span cCol="12" cPlaceholder></span>
    </c-col>
    <c-col [md]="11"></c-col>
    <c-col [md]="12"> <span cCol="12" cPlaceholder></span></c-col>
    <c-col [md]="10"></c-col>
    <c-col [md]="2" class="mt-4"> <span cCol="12" cPlaceholder></span></c-col>
    <c-col [md]="2"> <span cCol="12" cPlaceholder></span></c-col>
    <c-col [md]="10"></c-col>
  </c-row>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
  <span cCol="12" cPlaceholder></span>
</c-container>
